---
import Layout from '../layouts/Layout.astro';

export const prerender = true;
---

<Layout title="Welcome to Astro.">


	<main class="relative min-h-screen dark:bg-gray-900">
		<section class="landing relative z-10 flex min-h-[90vh] flex-col justify-center border-b px-4">
			<div
				class="background absolute inset-0 bottom-0 -z-10 bg-slate-50 bg-bottom bg-no-repeat dark:bg-[#0B1120]"
			/>
	
			<div class="mx-auto flex max-w-2xl flex-col justify-center">
				<h1
					class="mb-12 text-center text-4xl font-extrabold text-slate-900 dark:text-white sm:text-5xl lg:text-6xl"
				>
					A faster way to take notes
				</h1>
	
				<a
					class="mx-auto rounded bg-purple-500 px-4 py-2 font-bold text-white drop-shadow-md"
					href="https://github.com/vuurvos1/textedit/"
				>
					Download
				</a>
			</div>
		</section>
	
		<section
			class="mx-auto text-white flex max-w-7xl flex-col px-4 pb-4 pt-24 sm:px-6 sm:pb-8 md:pb-12 lg:px-8 lg:pb-20"
		>
			<h2 class="pb-6 text-4xl font-bold dark:text-white">Features</h2>
	
			<ul class="list-disc list-inside">
				<li>
					You can edit text with it
				</li>
				<li>
					Markdown support
				</li>
			</ul>

			<!-- <ul class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
				<li
					class="rounded-xl border border-gray-500 px-4 py-6 transition-colors duration-300 hover:bg-slate-200 dark:text-white dark:hover:bg-slate-800"
				>
					<div class="align-center flex justify-center pb-4">
						<svg
							width="88"
							height="54"
							viewBox="0 0 88 54"
							fill="currentColor"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								fill-rule="evenodd"
								clip-rule="evenodd"
								d="M21.1237 12.6007H12.4953V41.3143H21.4864V25.3714L30.0467 35.6571L38.2008 25.3714V41.3143H46.7393V12.6007H38.2008L30.0467 23.2286L21.1237 12.6007ZM6.84798 0H81.152C84.9325 0 88 3.06965 88 6.85626V47.1437C88 50.9298 84.9341 54 81.152 54H6.84798C3.06753 54 0 50.9304 0 47.1437V6.85626C0 3.07023 3.06594 0 6.84798 0ZM61.6342 12.7714H61.5491V27.5143H53.3307L66 41.3143L78.6697 27.4295H70.1128V12.7714H61.6342Z"
							/>
						</svg>
					</div>
	
					<h3 class="pb-2 text-xl font-semibold dark:text-white">Effortless Markdown Formatting</h3>
					<p>
						Enhance the visual appeal and readability of your notes with effortless markdown
						formatting. Say goodbye to plain text and hello to professional-looking, eye-catching
						notes. -->
						<!-- links to docs? -->
					<!-- </p>
				</li>
				<li
					class="rounded-xl border border-gray-500 px-4 py-6 transition-colors duration-300 hover:bg-slate-200 dark:text-white dark:hover:bg-slate-800"
				>
					<div class="align-center flex justify-center pb-4">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="48"
							height="48"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class=""
						>
							<line x1="4" y1="9" x2="20" y2="9" />
							<line x1="4" y1="15" x2="20" y2="15" />
							<line x1="10" y1="3" x2="8" y2="21" />
							<line x1="16" y1="3" x2="14" y2="21" />
						</svg>
					</div>
	
					<h3 class="pb-2 text-xl font-semibold dark:text-white">Tagging & Sorting</h3>
					<p>
						Organize your notes with ease and stay on top of your information with advanced tagging
						and sorting capabilities. Quickly find what you're looking for and keep your notes neatly
						categorized and ready for use.
					</p>
				</li>
				<li
					class="rounded-xl border border-gray-500 px-4 py-6 transition-colors duration-300 hover:bg-slate-200 dark:text-white dark:hover:bg-slate-800"
				>
					<div class="align-center flex justify-center pb-4">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="48"
							height="48"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class=""
						>
							<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
							<polyline points="7 10 12 15 17 10" />
							<line x1="12" y1="15" x2="12" y2="3" />
						</svg>
					</div>
	
					<h3 class="pb-2 text-xl font-semibold">Seamless Installation</h3>
					<p class="">
						The app is available as a a Progressive Web App, making it easily installable on almost
						any device. Enjoy all the benefits of a native app with the added convenience of being
						accessible directly from your browser.
					</p>
				</li>
			</ul> -->
		</section>
	</main>

	<footer class="border-t border-gray-500 px-8 py-4 dark:bg-gray-900 dark:text-white">
		<!-- TODO: theme toggle and more links? -->
		<div class="mx-auto flex max-w-6xl justify-between">
			<span>Text Edit - Apache 2.0 License</span>
	
			<a href="https://github.com/vuurvos1/textedit">Github</a>
		</div>
	</footer>
	
	
</Layout>

<style>
.landing {
		background-color: #101625;

		border-color: rgba(241, 245, 249, 0.05);

		@media (prefers-color-scheme: light) {
			background: #f7f9ff;
		}
	}

	.background {
		--col: rgb(200 200 200/0.15);
		--width: 1px;

		background: #101625;
		background-image: linear-gradient(var(--col) var(--width), #0000 var(--width)),
			linear-gradient(90deg, var(--col) var(--width), #0000 var(--width));

		background-size: 2rem 2rem;
		background-position: bottom 1px center;

		--scale: 5;
		mask-image: linear-gradient(
			rgba(255, 255, 255, 0) calc(var(--scale) * 0%),
			rgba(255, 255, 255, 0.1) calc(var(--scale) * 6%),
			rgba(255, 255, 255, 0.5) calc(var(--scale) * 22.5%),
			rgba(255, 255, 255, 0.6) calc(var(--scale) * 25.5%),
			rgba(255, 255, 255, 0.7) calc(var(--scale) * 30%),
			rgba(255, 255, 255, 0.8) calc(var(--scale) * 36%),
			rgba(255, 255, 255, 0.9) calc(var(--scale) * 48%),
			rgba(255, 255, 255, 1) calc(var(--scale) * 60%)
		);

		@media (prefers-color-scheme: light) {
			--col: rgba(50, 50, 50, 0.1);
			background-color: #f7f9ff;
		}
	}
</style>
